.buttons{
   display: block;
   border-radius: 5px;
   min-width: 100px;
   height: 50px;
   margin: 0 0 10px 0;
   background-color: rgb(23, 144, 250);
   color: white;
   box-shadow: 3px 3px 3px rgb(4, 5, 4);
   transition: all .3s linear;
   cursor: pointer;

   &:hover {
      box-shadow: none;
   }

   &:active {
      box-shadow: none;
   }
}