.cardHolder{
    text-align: center;
    border: 2px solid rgb(118, 99, 99);
    border-radius: 5px;
    min-width: 245px;
}

.cardImage{
    padding: 15px;
    transition: all .3 ease-in-out;

    &:hover{
        scale: 1.1;
        cursor: zoom-in;
    }
}

.btnHolder{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 15px;
}