.header {
    padding: 25px ;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    background-color: #0295DB;
    margin: 0 auto;
}

.btnHolder{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.card{
    margin-right: 30px;
    background-color: rgb(76, 0, 255) !important;
}