.backgroundModal{
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0,0, 0, 0.6);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.basicModal{
    width: 600px;
    background-color: rgb(60, 70, 185);
}

.closeModal{
    text-align: left;
    padding: 15px;
    background-color: rgb(60, 79, 185);
    color: white;
    cursor: pointer;
    border: none;
}

.headerModal{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px 15px 0;
    background-color: rgb(60, 79, 185);
}

.modalBtn{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.textModal{
    padding: 0 15px;
}

.titleModal,
.textModal{
    color: white;
    text-align: center;
    font-size: 20px;
}